<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="center">
      <ion-item style="background-color: red;">
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-label>Usar Digital</ion-label>
      <ion-button>Entrar</ion-button>

    </div>

  </div>
</ion-content>
